@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
html,
body {
  background: #3c302c;
  color: whitesmoke;
}
body {
  font-family: "Nunito Sans", sans-serif;
  justify-content: center;
  display: flex;
}
#external {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: -10rem;
}
#container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}
#container > div {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #6c605c;
}
/* hide id */
#container > div:first-child {
  display: none;
}

/* name */
#container > div:nth-last-child(2) {
  font-weight: bold;
  background: transparent;
  position: absolute;
  padding-top: 0.5rem;
  left: -10rem;
  top: -0.25rem;
  width: 10rem;
}
#container > div:nth-last-child(5) {
  font-weight: bold;
  background: #815546;
  text-align: center;
}
/* pfp */
#container > div:nth-last-child(3) {
  border-radius: 10rem;
  background-size: contain;
  background-image: var(--link);
  position: absolute;
  left: -14rem;
  width: 2rem;
  height: 2rem;
  top: -0.25rem;

  color: transparent;
  user-select: none;
}

#container > div:nth-last-child(4),
#container > div:nth-last-child(5),
div:last-child {
  width: 2rem;
}

#container > div:nth-last-child(6),
#container > div:nth-last-child(7),
#container > div:nth-last-child(8),
#container > div:nth-last-child(9) {
  display: none !important;
}

h1 {
  margin-left: -10rem;
  width: calc(100% + 10rem);
  text-align: center;
  color: #b2b16d;
  font-family: serif;
  font-weight: bold;
  margin: 1rem;
}
