<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Fart Streaks</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.freepnglogos.com/uploads/poop-png/poop-emojis-archives-jason-graham-4.png"
    />
  </head>
  <body>
    {% block content %}
    <div id="external">
      <h1>FART CLUB LEADERBOARD!</h1>

      <div style="display: flex">
        <div
          style="
            width: 21rem;
            font-size: 0.66rem;
            font-family: monospace;
            color: #b19586;
            display: flex;
            align-items: end;
            text-align: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          "
        >
          Total Days
        </div>
        <div
          style="
            width: 21rem;
            font-size: 0.66rem;
            font-family: monospace;
            color: #b19586;
            display: flex;
            align-items: end;
            text-align: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          "
        >
          Current Streak
        </div>
        <div
          style="
            width: 21rem;
            font-size: 0.66rem;
            font-family: monospace;
            display: flex;
            align-items: end;
            text-align: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          "
        >
          Longest Streak
        </div>
      </div>

      {%for i in Database%}
      <div id="container">
        {%for j in i%}

        <div style="--link: url({{ j }});">{{j}}</div>

        {%endfor%}
      </div>
      {%endfor%}
    </div>
    {% endblock %}
  </body>
</html>
